.logo-font-footer {
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0;
}

.nav-footer {
  text-align: center;
  margin-bottom: 60px;
}

.studio-footer {
  color: var(--color-white);
}

.logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--list-active-color);
  text-decoration: none;

  margin-bottom: 20px;
  width: 154px;
}

.addres-footer {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.email-footer {
  margin-top: 9px;
}

.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  list-style-type: none;
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);
}

.tell-footer {
  margin-top: 9px;
}

.logo-font-footer {
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0;
}

.footer-contact-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  list-style-type: none;
  padding: 0;
}
